<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="container mt-3">
        <div class="row">
            <!-- Menu -->

            <div class="col-md-3">

                <%- include('../partials/category-menu.ejs',categories) %>
                
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3"><%= title %></h1>

                <% blogs.forEach(blog=> { %>
                    <% if (blog.isHomepage && blog.onay) { %>

                        <%- include('../partials/blog-card.ejs',blog) %>
                            
                    <% } %>
                   

                    <% }) %>


            </div>
        </div>
    </div>
</body>

</html>